<div class="eks" id="stats" style="display: none;">
    <div class="info">
        <div>
            <div class="bilgi"><span class="bilgi-left">Profile Age:</span> <span class="bilgi-right"><%= age %> years</span></div>
            <div class="bilgi"><span class="bilgi-left">Total Repositories:</span> <span class="bilgi-right"><%= repos.length %></span></div>
            <div class="bilgi"><span class="bilgi-left">Total Gists:</span> <span class="bilgi-right"><%= gists.length %></span></div>
            <div class="bilgi"><span class="bilgi-left">Total Stars:</span> <span class="bilgi-right"><%= totalStars %></span></div>
            <div class="bilgi"><span class="bilgi-left">Total Forks:</span> <span class="bilgi-right"><%= totalForks %></span></div>
            <div class="bilgi"><span class="bilgi-left">Total Topics:</span> <span class="bilgi-right"><%= totalTopics %></span></div>
            <div class="bilgi"><span class="bilgi-left">Average Stars Per Repository:</span> <span class="bilgi-right"><%= averageStarsPerRepo %></span></div>
        </div>
      
    </div>
</div>

