<div class="user-info">
    <div class="user-left">
        <img src="<%= user.avatar_url %>" alt="">
    </div>
    <div class="user-right">
        <div class="user-right-cont">
            <p class="name"><%= user.name %></p>
            <p class="username">@<%= user.name %></p>
            <p class="bio"><%= user.bio %></p>
            <p class="time">Last Update: <%= formatDate(user.updated_at) %></p>
            <p class="time">Member Since: <%= formatDate(user.created_at) %></p>
        </div>
    </div>
    
</div>
